---
import '../styles/main.css'

const heading = "UrbanRoots";
const subheading = "Find Your Tribe Wherver You Go.";
const appIcon = "/images/app-icon.svg";
const appScreenshot = "/images/app-screenshot.png";
const footerImage = "/images/banners.svg";
const badges = [
	{
		link: "/urbanroots.apk",
		image: "/images/app-store-badge.svg"
	},
	{
		link: "/urbanroots.apk",
		image: "/images/google-play-badge.png"
	},
];
const authors = [
	{
		name: "UrbanRoots App Team",
		url: "https://theurbanroots.vercel.app"
	},
	{
		name: "",
		url: "https://theurbanroots.vercel.app"
	},
];
const pageTitle = "App Showcase"
const favicon = "/images/favicon.svg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
			<main>
				<div class="text-container">
					<img src={appIcon} class="app-icon">
					<h1 class="heading">{heading}</h1>
					<h2 class="subheading">{subheading}</h2>
					<div class="badge-container">
						<a href="/public/images/urbanroots.apk"><button class="cssbuttons-io">
							<span
							  ><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h24v24H0z" fill="none"></path>
								<path
								  d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
								  fill="currentColor"
								></path>
							  </svg>
							  Download APK</span
							>
						  </button>
						  <br>
						<!-- {badges.map(badge => (
							<div>
								<a href="/urbanroots.apk">
									<img src={badge.image} class="badge" />
								</a>
							</div>
						))} -->
					</div>
					<br>
					<p class="authors">Made with &#x2665; by 
						{authors.map((author, index) => (
								<span>
									{index > 0 ? (index === authors.length - 1 ? '' : ', ') : ''}
									<a href={author.url} target="_blank">{author.name}</a>
								</span>
						))}
					</p>
				</div>
				<div>
					<img src={appScreenshot} class="app-screenshot">
				</div>
			</main>
			<footer>
				<img src={footerImage} class="footer-image">
			</footer>
		</div>
	</body>
</html>
